.navbar {
  background-color: #ffe353;
}
svg {
  cursor: default;
}
a {
  margin-left: 10px;
}
.active_link {
  color: #86751f;
}
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: row;
  }
}
