<div class="m-4 p-5" id="search-Container">
  <div>
    <h2 class="mb-3">Welcome to our movie app</h2>
    <p class="mb-3">
      Million of movies, TV shows and people to discover. Explore now.
    </p>
  </div>

  <!-- Search bar and button  -->
  <div class="d-flex justify-content-between">
    <input
      type="text"
      class="form-control"
      id="searchInput"
      placeholder="Search and explore..."
    />
    <button type="submit" class="btn py-2 px-5">Search</button>
  </div>
</div>

<!-- Cards container  -->
<div class="m-4 mt-5">
  <h2 style="width: 100%">Popular Movies</h2>

  <div class="row m-1 justify-content-center">
    <div class="col-lg-2 col-md-4 col-sm-12" *ngFor="let movie of moviesList">
      <app-movie-home-card [movie]="movie">
        <a [routerLink]="['/details', movie.id]"></a
      ></app-movie-home-card>
    </div>
  </div>
</div>

<!-- ######   this is pagination bar only for display ####### 
  we can change the value of collectionsize to res.totalpages but cant do it now
-->
<div class="d-flex flex-column align-items-center">
  <ngb-pagination
    [collectionSize]="60"
    [(page)]="page"
    [boundaryLinks]="true"
  />

  <pre>Current page: {{ page }}</pre>
</div>
<!-- 
  pagination buttons bootstrap might be used later
  <hr />
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav> -->
