<div class="m-4 p-5" id="search-Container">
  <div>
    <h2 class="mb-3">Welcome to our movie app</h2>
    <p class="mb-3">
      Million of movies, TV shows and people to discover. Explore now.
    </p>
  </div>

  <!-- Search bar and button  -->
  <div class="d-flex justify-content-between">
    <input
      type="text"
      class="form-control"
      id="searchInput"
      placeholder="Search and explore..."
    />
    <button type="submit" class="btn py-2 px-5">Search</button>
  </div>
</div>

<!-- Cards container  -->
<div class="m-4 mt-5">
  <h2 style="width: 100%">Popular Movies</h2>

  <div class="row m-1 justify-content-center ">
    <div class="col-lg-2 col-md-4 col-sm-12" *ngFor="let movie of moviesList">
      <app-movie-home-card [movie]="movie"> </app-movie-home-card>
    </div>
  </div>
</div>
